// Custom styles for this template

.card, .social-box {
  border-top-width: 0;
  border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
  border-top-width: 1px !important;
}

[class*="card-accent-"] {
  border-top-width: 2px !important;
}

.aside-menu {
  .nav-tabs .nav-link,
  .callout {
    border-radius: 0;
  }
}

// Here you can add other styles

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  background: url(/img/backgrounds/main.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.price-box {
  background-color: #373737;
  height: auto;
  min-height: 250px
}

.price-box h2{
  color: white;
  text-align: center;
}

.notification-alert {
  background-color: #309C49;
  opacity: 0.8;
  border-radius: 2px 2px 0px 0px;
  font-size: 18px;
  color: white;
  font-family: 'Abel', sans-serif;
  text-align: center;
  margin-top: 100px;
}

.top-head-box{
  background-color: #65B077;
  border-right: 0px;
  border-left: 0px;
  border-top: 7px;
  border-bottom: 7px;
  border-color: #65B077 #65B077;
  padding-bottom: 7px;
  padding-top: 7px;
  opacity: 0.8;
}

.top-head-box img{
  display:block;
  margin:auto;
}

.rocket-league-item {
  display: inline-block;
  background-color: black;
  border-radius: 3.5px;
  border: 1px solid #65B077;
  width: 150px;
  margin: 10px;
  color: white;
  text-align: center;
  padding:10px;
}

.rocket-league-item img{
  width: 100px;
  height: 100px;
}

.no-items {
  color:white;
  margin-top: 10px;
  font-size: 200%;
}

.search-box{
  color: white;
  text-align: center;
}

.search-box div{
  width: 25%;
  margin: 0 auto;
}

.item-container{
  padding: 10px;
  text-align: center;
}

